@using Sales.Domain.Entities
@model Product

@{
    ViewBag.Title = "Index";
}

Umbraco content for product: @Model.Name

<div id="sales" class="col-xs-12 well well-sm">
    @Html.Action("OrderProcess", "Home", new { selectedProduct = ViewBag.SelectedProduct })
</div>
